body{
    display: grid;
    place-items: center;
    background-color: bisque;
   
    

}

form{
 margin: 100px;
 width: 800px;
 height: 250px;
 text-align: center;
font-family: 'Times New Roman', Times, serif;
border: 10px black solid;
border-radius: 20px;
background-color: aqua;
}
p{
    width: 800px;
    height: 50px;
}
#pseudo{
    width: 300px;
    height: 50px;
}
#password{
    width: 300px;
    height: 50px;
}
